/**
Our Colours:
Black   #343434
Blueish #6CA6C1
Grey    #969A96
White   #F7FFF7
 */
.main {
    -fx-background-color: #969A96; /* Set the background color */
}
.secondary{
    -fx-background-color: #343434;
}

.button{
    -fx-background-color: #343434; /* Set the background color */
}
.button:hover {
    -fx-background-color: #978B67;
}

.slider {

}

.slider .track {
    -fx-background-color: #6CA6C1; /* Set the track color */
}

.slider .thumb {
    -fx-background-color: #F7FFF7; /* Set the thumb color */
}

.label {
    -fx-text-fill: #F7FFF7; /* Set the label color */
}

.text-field {
    -fx-background-radius: 10; /* Set the text-field background-radius */
    -fx-background-color: #6CA6C1 ;
    -fx-text-fill: #F7FFF7;
}

